body {
  background: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
  font-family: monospace;
}

button {
  border-radius: 1rem;
  background-color: cornflowerblue;
  border: none;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  padding: 1rem;
  cursor: pointer;
  opacity: 1;
}

button:active {
  opacity: 0.9;
  transform: scale(1.1);
  transition: all;
}

header > h1 {
  display: flex;
  justify-content: center;
  color: black;
  font-weight: 600;
  background-color: white;
  margin-bottom: 1rem;
  border-radius: 1rem;
  text-shadow: 1px 1px 2px gray;
  padding: 2rem;
}

.accordian {
  background-color: #fff;
  width: 100%;
  border-radius: 1rem;

  .header {
    height: 3rem;
    display: flex;
    align-items: center;
    padding: 1rem;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }

  #toggle-btn-icon {
    transform: rotate(90deg);
  }

  .content {
    opacity: 0;
    padding: 0 1rem;
    max-height: 0px;
    transition: max-height 0.5s, transform 0.2s, opacity 0.5s;
    transform: translateY(-10px);
  }

  &.show {
    .header {
      background-color: rgba(235, 232, 232, 0.837);
    }
    .content {
      opacity: 1;
      padding: 1rem;
      max-height: 400px;
      overflow-y: auto;
      transform: translateY(0px);
    }

    #toggle-btn-icon {
      transform: rotate(-90deg);
    }
  }
}
